<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-usuarios">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <visor-usuario id="receiver" on-myeventregdata="processEventReg" on-myeventcancelregdata="processCancelReg"></visor-usuario>
    <iron-ajax
      id="doregister"
      method="POST"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorUsuarios extends Polymer.Element {
      static get is() { return 'gestor-usuarios'; }
      static get properties() {
        return {
        };
      }
      showRegistrationData(data){
        this.$.receiver.showData(data);
      }
      processEventReg(e){
        var regData = {
          "first_name": e.detail.first_name,
          "last_name": e.detail.last_name,
          "country": e.detail.country,
          "city": e.detail.city,
          "email": e.detail.email,
          "password": e.detail.password
        };
        //Lo pasamos a formato json y lo mandamos
        this.$.doregister.body = JSON.stringify(regData);
        this.$.doregister.generateRequest(); //genera una petición con todos los parametros disponibles
      }
    manageAJAXresponse(data){
      alert("Cliente registrado con éxito.");
      this.init=false;
      this.registered=true;
      this.dispatchEvent(
          new CustomEvent(
            "myeventreg",
            {
                "detail": {
                "email": this.email
              }
            }
          )
      );
    }
    showError(data){
      console.log("Hubo un error:");
      console.log(data);
      this.$.receiver.showErrorReg();
    }
    processCancelReg(e){
      this.dispatchEvent(
          new CustomEvent(
            "myeventreg",
            {
                "detail": {
                "email": this.email
              }
            }
          )
      );
    }
  }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorUsuarios.is, GestorUsuarios);
  </script>
</dom-module>
