<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../visor-apiext/visor-apiext.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-apiext">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <visor-apiext id="receiver" city$="{{town}}"></visor-apiext>
    <iron-ajax
      id="doweather"
      method="GET"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/weather/{{town}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorApiext extends Polymer.Element {
      static get is() { return 'gestor-apiext'; }
      static get properties() {
        return {
          town: {
            type: String
          }
        };
      }
      showWeather(data){
        this.town=data;
        this.$.doweather.body = JSON.stringify(this.town);
        this.$.doweather.generateRequest(); //genera una petición con todos los parametros disponibles
      }
    manageAJAXresponse(data){
      this.$.receiver.showweatherdata(data.detail.response);
    }
    showError(data){
      console.log("Hubo un error:");
      console.log(data);
    }
  }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorApiext.is, GestorApiext);
  </script>
</dom-module>
