<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">

<dom-module id="gestor-movimientos">
<template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div><visor-movimientos id="receiver" movements$={{datalist}}></visor-movimientos></div>
    <iron-ajax
      id="getMovements"
      method="GET"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/accounts/{{idaccount}}/movements"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"></iron-ajax>
</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          datalist:{
            type: Object
          },
          idaccount:{
            type: Number
          },
          balance:{
            type: Number
          },
          iban:{
            type: String
          }
        };
      }
      showMovs(data){
        this.idaccount=data.idaccount;
        this.balance=data.balance;
        this.iban=data.iban;
        this.$.getMovements.body = JSON.stringify(data.idaccount);
        this.$.getMovements.generateRequest();
        var accountdata={
          "idaccount": data.idaccount,
          "balance": data.balance,
          "iban": data.iban
        };
        this.$.receiver.showData(accountdata);
      }
      manageAJAXresponse(data){
        this.datalist = data.detail.response;
      }
      showError(){
        console.log("Error en el ajax de movimientos.");
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
