<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-config/visor-config.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-config">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div><visor-config id="receiver" on-myeventupdatedata="processEventUserUpdate" on-myeventcancdata="processconfcanc"></visor-config></div>
    <iron-ajax
      id="douserdata"
      method="GET"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users/{{idUsuario}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponseuser"
      on-error="showErrorUser"></iron-ajax>
    <iron-ajax
      id="dochangepwd"
      method="POST"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users/{{idUsuario}}/update"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorConfig extends Polymer.Element {
      static get is() { return 'gestor-config'; }
      static get properties() {
        return {
          idUsuario: {
            type: Number
          }
        };
      }
      showUserData(data){
        this.idUsuario=data;
        //Lo pasamos a formato json y generamos/mandamos una petición con los parametros.
        this.$.douserdata.body = JSON.stringify(data);
        this.$.douserdata.generateRequest();
      }
      processEventUserUpdate(e){
        //Lo pasamos a formato json y generamos/mandamos una petición con los parametros.
        this.$.dochangepwd.body = JSON.stringify(e.detail);
        this.$.dochangepwd.generateRequest();
      }
      manageAJAXresponseuser(data){
        this.$.receiver.showUserData(data.detail.response);
      }
      manageAJAXresponse(data){
        this.$.receiver.showOKForm();
      }
      showError(error){
        console.log("Hubo un error: ");
        console.log(error);
        this.$.receiver.showError();
      }
      showErrorUser(error){
        console.log("Hubo un error: ");
        console.log(error);
        this.$.receiver.showErrorUserData();
      }
      processconfcanc(e){
        this.dispatchEvent(
          new CustomEvent(
            "myeventcancel",
            {
              "detail": {
                "showacc": this.showacc
                }
              }
            )
        );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorConfig.is, GestorConfig);
  </script>
</dom-module>
