<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../gestor-logout/gestor-logout.html">
<link rel="import" href="../gestor-login/gestor-login.html">
<link rel="import" href="../gestor-cuentas/gestor-cuentas.html">
<link rel="import" href="../gestor-movimientos/gestor-movimientos.html">
<link rel="import" href="../gestor-usuarios/gestor-usuarios.html">
<link rel="import" href="../gestor-operar/gestor-operar.html">
<link rel="import" href="../gestor-usuarios/gestor-usuarios.html">
<link rel="import" href="../gestor-opcuentas/gestor-opcuentas.html">
<link rel="import" href="../gestor-opciones/gestor-opciones.html">
<link rel="import" href="../gestor-apiext/gestor-apiext.html">
<link rel="import" href="../gestor-config/gestor-config.html">

<dom-module id="gestor-principal">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
	  <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <div id="divlogout" hidden$="{{!logged}}"><gestor-logout id="outreceiver" userid$={{idUsuario}} on-myeventlogout="processEventLogout" on-myeventgoback="processEventBack"></gestor-logout></div>
    <div id="divall" hidden$="{{!showaccountslist}}"><gestor-apiext id="weareceiver" town$={{city}}><gestor-apiext></div>
    <div id="divall" hidden$="{{!showaccountslist}}"><gestor-opciones userid$={{idUsuario}} on-myeventshowuserconfig="processEventUserUpdate"></gestor-opciones></div>
    <div id="divform" hidden$="{{!showoperations}}"><gestor-operar on-myeventgoaccounts="processEventBack" on-myeventgooperations="processEventOps"></gestor-operar></div>
    <div id="divform" hidden$="{{!showaccoperations}}"><gestor-opcuentas id="opsreceiver" accountid$={{idaccount}} iban$={{iban}} balance$={{balance}} on-myeventcancel="processEventCancel"><gestor-opcuentas></div>
    <div id="divall" hidden$="{{!showaccountslist}}"><gestor-cuentas id="accreceiver" on-myeventmovements="processEventListMov" on-myeventops="processEventShowOps"></gestor-cuentas></div>
    <div id="divall" hidden$="{{!showmovementslist}}"><gestor-movimientos id="movreceiver"><gestor-movimientos></div>
    <div id="divform" hidden$="{{!init}}"><gestor-login on-myeventlogin="processEventLogin" on-myeventreg="processEventRegForm" on-myeventclear="resetclear"></gestor-login></div>
    <div id="divform" hidden$="{{!showregistrationform}}"><gestor-usuarios on-myeventreg="processEventReg"><gestor-usuarios></div>
    <div id="divform" hidden$="{{!showconfig}}"><gestor-config id="confreceiver" userid$={{idUsuario}} on-myeventcancel="processEventConfCancel"><gestor-config></div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorPrincipal extends Polymer.Element {
      static get is() { return 'gestor-principal'; }
      static get properties() {
        return {
          logged:{
            type: Boolean,
            value: false
          },
          init:{
            type: Boolean,
            value: true
          },
          clear:{
            type: Boolean,
            value: false
          },
          showregistration: {
            type: Boolean,
            value: false
          },
          showaccountslist: {
            type: Boolean,
            value: false
          },
          showmovementslist: {
            type: Boolean,
            value: false
          },
          showregistrationform:{
            type: Boolean,
            value: false
          },
          showaccoperations:{
            type: Boolean,
            value: false
          },
          showconfig:{
            type:Boolean,
            value: false
          },
          idUsuario:{
            type: Number
          },
          idaccount:{
            type: Number
          },
          iban:{
            type: String
          },
          balance:{
            type: Number
          },
          showoperations:{
            type: Boolean,
            value: false
          },
          city:{
            type: String
          }
        };
      }
      processEventLogin(e){
        this.logged=true;
        this.showaccountslist=true;
        this.init=false;
        this.idUsuario=e.detail.idUsuario;
        this.city=e.detail.city;
        this.$.accreceiver.showAccounts(this.idUsuario);
        this.$.weareceiver.showWeather(this.city);
      }
      processEventLogout(e){
        this.logged=false;
        this.init=true;
        this.clear=true;
        this.showaccountslist=false;
        this.showmovementslist=false;
        this.showoperations=false;
        this.showaccoperations=false;
        this.showconfig=false;
      }
      processEventListMov(e){
        this.showmovementslist=true;
        this.showaccountslist=false;
        this.showconfig=false;
        this.idaccount=e.detail.idaccount;
        this.iban=e.detail.iban;
        this.$.movreceiver.showMovs(e.detail);
      }
      processEventBack(e){
        this.showaccountslist=true;
        this.showmovementslist=false;
        this.showoperations=false;
        this.showaccoperations=false;
        this.showconfig=false;
      }
      processEventRegForm(e){
        this.init=false;
        this.showregistrationform=true;
      }
      resetclear(e){
        this.clear=false;
      }
      processEventReg(e){
        this.showregistrationform=false;
        this.init=true;
      }
      processEventOps(e){
        this.showaccoperations=true;
        this.showmovementslist=false;
        this.showaccountslist=false;
        this.showconfig=false;
        this.$.opsreceiver.showop(e.detail.operation);
      }
      processEventShowOps(e){
        this.showoperations=true;
        this.showmovementslist=false;
        this.showaccountslist=false;
        this.showconfig=false;
        this.iban=e.detail.iban;
        this.balance=e.detail.balance;
        this.idaccount=e.detail.idaccount;
      }
      processEventCancel(e){
        this.showaccountslist=true;
        this.showmovementslist=false;
        this.showoperations=false;
        this.showaccoperations=false;
        this.showconfig=false;
        this.iban=e.detail.iban;
        this.balance=e.detail.balance;
        this.idaccount=e.detail.idaccount;
        this.$.movreceiver.showMovs(e.detail);
        this.$.accreceiver.showAccounts(this.idUsuario);
      }
      processEventConfCancel(e){
        this.showaccountslist=true;
        this.showmovementslist=false;
        this.showoperations=false;
        this.showaccoperations=false;
        this.showconfig=false;
        this.iban=e.detail.iban;
        this.balance=e.detail.balance;
        this.idaccount=e.detail.idaccount;
        this.$.accreceiver.showAccounts(this.idUsuario);
      }
      processEventUserUpdate(e){
        this.showaccountslist=false;
        this.showmovementslist=false;
        this.showoperations=false;
        this.showaccoperations=false;
        this.showconfig=true;
        this.$.confreceiver.showUserData(e.detail.userid);
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorPrincipal.is, GestorPrincipal);
  </script>
</dom-module>
