<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-apiext">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <div id="ElTiempo" hidden$="{{nodata}}">
      <img width="40px" height="40px" src="{{urlimg}}"></img>
      <h10><b>{{city}} </b></h10>
        <h10><b>Temperatura: {{temp}} </b></h10>
    </div>
  </template>
  <script>
      /**
     * @customElement
     * @polymer
     */
    class VisorApiext extends Polymer.Element {
      static get is() { return 'visor-apiext'; }
      static get properties() {
        return {
          temp:{
            type: Number
          },
          humidity:{
            type: Number
          },
          clouds: {
            type: Number
          },
          city:{
            type: String
          },
          urlimg:{
            type: String
          },
          nodata:{
            type: Boolean,
            value: true
          }
        };
      }
      showweatherdata(data){
        if(data!=null){
          this.nodata=false;
        this.temp=data.temperatura;
        this.temp=data.temperatura+" ºC";
        this.humidity=data.humedad+" %";
        this.clouds=data.nubosidad+" %";
        if(data.humedad>60){
          this.urlimg="https://s3-eu-west-1.amazonaws.com/irenebcp/images/lluvia.jpg";
          // this.urlimg="../images/lluvia.jpg";
        }else{
          if(data.nubosidad>50){
            this.urlimg="https://s3-eu-west-1.amazonaws.com/irenebcp/images/nube.jpg";
            // this.urlimg="../images/nube.jpg";
          }else{
            this.urlimg="https://s3-eu-west-1.amazonaws.com/irenebcp/images/sol.png";
            // this.urlimg="../images/sol.jpg";
          }
        }
      }
    }
  }
  //Vinculamos la etiqueta a la clase.
  window.customElements.define(VisorApiext.is, VisorApiext);
  </script>
</dom-module>
