<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../visor-operar/visor-operar.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-operar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <visor-operar on-myeventgoaccountsdata="goaccounts" on-myeventgooperationsdata="gooperations"></visor-operar>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorOperar extends Polymer.Element {
      static get is() { return 'gestor-operar'; }
      static get properties() {
        return {
        };
      }
      goaccounts(e){
        this.dispatchEvent(
          new CustomEvent(
            "myeventgoaccounts",
            {
              "detail": {
                "showaccounts": true,
                "showmovements": false
              }
            }
          )
        );
      }
      gooperations(e){
        this.dispatchEvent(
          new CustomEvent(
            "myeventgooperations",
            {
              "detail": {
                "operation": e.detail.operation
              }
            }
          )
        );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorOperar.is, GestorOperar);
  </script>
</dom-module>
