<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div><visor-cuentas id="receiver" accounts$={{datalist}} on-myeventmovdata="sendEventMovements" on-myeventopsdata="processEventAccOps"></visor-cuentas></div>
    <iron-ajax
      id="getAccounts"
      method="GET"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users/{{userid}}/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCuentas extends Polymer.Element {
      static get is() { return 'gestor-cuentas'; }
      static get properties() {
        return {
          datalist:{
            type: Object
          },
          userid:{
            type: Number
          },
          idaccount:{
            type: Number
          },
          iban:{
            type: String
          },
          balance:{
            type: Number
          }
        };
      }
      showAccounts(data){
        this.userid=data;
        this.$.getAccounts.body = JSON.stringify(data);
        this.$.getAccounts.generateRequest();
      }
      manageAJAXresponse(data){
        this.datalist = data.detail.response;
      }
      sendEventMovements(e){
        this.idaccount=e.detail.idaccount;
        this.balance=e.detail.balance;
        this.iban=e.detail.iban;
        this.dispatchEvent(
          new CustomEvent(
            "myeventmovements",
            {
              "detail": {
                "idaccount": e.detail.idaccount,
                "balance": e.detail.balance,
                "iban": e.detail.iban
              }
            }
          )
        );
      }
      showError(error){
        console.log("Hubo un error: ");
        console.log(error);
      }
      processEventAccOps(e){
        this.iban=e.detail.iban;
        this.balance=e.detail.balance;
        this.idaccount=e.detail.idaccount;
        this.dispatchEvent(
          new CustomEvent(
            "myeventops",
            {
              "detail": {
                "idaccount": this.idaccount,
                "balance": this.balance,
                "iban": this.iban
              }
            }
          )
        );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
