<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div><login-usuario id="receiver" oklogin$={{logged}} on-myeventlogindata="processEventLoginData" on-myeventregdata="processEventReg"></login-usuario></div>
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorLogin extends Polymer.Element {
      static get is() { return 'gestor-login'; }
      static get properties() {
        return {
          idUsuario: {
            type: Number
          },
          logged:{
            type: Boolean,
            value: false
          },
          city:{
            type: String
          }
        };
      }
      processEventLoginData(e){
        //Lo pasamos a formato json y generamos/mandamos una petición con los parametros.
        this.$.doLogin.body = JSON.stringify(e.detail);
        this.$.doLogin.generateRequest();
      }
      manageAJAXresponse(data){
        this.logged=true; //Indicamos que el login ha ido bien.
        this.idUsuario=data.detail.response.idUsuario;
        this.city=data.detail.response.city;
        //Enviamos evento al gestor princial con el id del usuario.
        this.sendEventLogin(this.idUsuario);
        this.$.receiver.clearlogindata();
      }
      sendEventLogin(e){
        //Mandamos evento personalizado de login al gestor principal.
        this.dispatchEvent(
            new CustomEvent(
              "myeventlogin",
              {
                  "detail": {
                    "idUsuario": this.idUsuario,
                    "city": this.city
                  }
              }
            )
          );
      }
      showError(error){
        console.log("Hubo un error: ");
        console.log(error);
        //Mostramos el error en el visor de login.
        this.$.receiver.showErrorLogin();
      }
      _clearlogin(){
        this.$.receiver.clearlogindata();
        this.dispatchEvent(
            new CustomEvent(
              "myeventclear",
              {
                  "detail": {
                    "clear": false
                  }
              }
            )
          );
      }
      processEventReg(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventreg",
              {
                  "detail": {
                    "shreg": e.detail.shreg
                  }
              }
            )
          );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorLogin.is, GestorLogin);
  </script>
</dom-module>
