<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-operar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <h3 id="logintext">Indique  la operación a realizar: </h3>
    <nav><ul>
      <li><button id="botonOps" on-click="goincome">Ingreso en cuenta</button></li>
      <li><button id="botonOps" on-click="gowithdraw">Retirar de cuenta</button></li>
    </ul></nav>
    </br>
    </template>
  <script>
      /**
     * @customElement
     * @polymer
     */
    class VisorOperar extends Polymer.Element {
      static get is() { return 'visor-operar'; }
      static get properties() {
        return {
          operation:{
            type: String
          }
        };
      }
      //Envía el evento de login a su gestor con evento personalizado
      goaccountsdata(){
        this.dispatchEvent(
            new CustomEvent(
              "myeventgoaccountsdata",
              {
                  "detail": {
                    "showaccountslist": true,
                    "showmovementslist": false
                  }
              }
            )
          );
      }
      sendoperation(){
        this.dispatchEvent(
            new CustomEvent(
              "myeventgooperationsdata",
              {
                  "detail": {
                    "operation": this.operation
                  }
              }
            )
          )
      }
      goincome(){
        this.operation="Income";
        this.sendoperation();
      }
      gowithdraw(){
        this.operation="Withdraw";
        this.sendoperation();
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorOperar.is, VisorOperar);
  </script>
</dom-module>
