<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">
<link rel="import" href="../gestor-login/gestor-login.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3 id="logintext">Introduzca e-mail y contraseña para acceder:</h3>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <input id="inputF" type="email" placeholder="E-mail" value="{{email::input}}" required/></br>
    <input id="inputF" type="password" placeholder="Contraseña" value="{{password::input}}" required/>
    </br></br>
    <button id="boton" on-click="login">Login</button>
    <button id="botonAlta" on-click="showregister">Registrarse</button>
    <span id="oktext" hidden$="{{!logged}}">Login correcto.</span></br>
    <span id="errtext" hidden$="{{!errLogin}}">Usuario y/o contraseña incorrecto/s.</span>
    </br>
  </template>
  <script>
      /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email:{
            type: String
          },
          password:{
            type: String
          },
          logged:{
            type: Boolean,
            value: false
          },
          oklogin: {
            type: Boolean,
            // Observer method
            observer: '_okloginhandle'
          },
          errLogin:{
            type: Boolean,
            value: false
          }
        };
      }
      //Envía el evento de login a su gestor con evento personalizado
      login(e){
        this.errLogin=false;
        if(this.email!=null&&this.password!=null){
          this.dispatchEvent(
              new CustomEvent(
                "myeventlogindata",
                {
                    "detail": {
                      "email": this.email,
                      "password": this.password
                    }
                }
              )
            );
          }else{
            this.errLogin=true;
          }
          this.email=null;
          this.password=null;
      }
      _okloginhandle(){
        this.logged=true;
        this.errLogin=false;
      }
      showErrorLogin(){
        this.errLogin=true;
        this.logged=false;
      }
      clearlogindata(){
        this.email=null;
        this.password=null;
        this.logged=false;
        this.errLogin=false;
        // localStorage.clear();
        // sessionStorage.clear();
      }
      showregister(){
        this.dispatchEvent(
            new CustomEvent(
              "myeventregdata",
              {
                  "detail": {
                    "shreg": true
                  }
              }
            )
          );
      }
    }//del class
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
