<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">
<link rel="import" href="../gestor-movimientos/gestor-movimientos.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
      <h2></br></br><b>Movimientos de la cuenta:</b> {{iban}}</h2></br>
      <div hidden$="{{!noMov}}">
        <p><img width="20px" height="20px" src="https://s3-eu-west-1.amazonaws.com/irenebcp/images/iconoI.png">
          </img>No hay movimientos disponibles.</p>
      </div>
      <div id="divlist">
        <table id="movlist">
          <template is="dom-repeat" items="{{movements}}">
            <tr>
              <td>
                <p><b>Fecha : </b>{{item.date}}</p>
                <p><b>Importe : </b>{{item.money}} €</p>
              </td>
            </tr>
          </template>
        </table>
      </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          date: {
            type: String
          },
          money: {
            type: Number
          },
          movements:{
              type: Object,
              // Observer method
              observer: '_movementshandle'
          },
          iban:{
            type: String
          },
          noMov:{
            type: Boolean,
            value: false
          }
        };
      }
      showData(data){
          this.idaccount=data.idaccount;
          this.iban = data.iban;
          this.balance = data.balance;
      }
      _movementshandle(){
        if(this.movements.length!=0){
          this.noMov=false;
        }else{
          this.noMov=true;
        }
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
