<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">
<link rel="import" href="../gestor-cuentas/gestor-cuentas.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <h2>Listado de cuentas:</h2>
    <div id="divlist">
    <table id="movlist">
      <template id="listadoCuentas" is="dom-repeat" items="{{accounts}}">
        <tr>
          <td>
            <p><b>IBAN : </b>{{item.iban}}</p>
            <p><b>Saldo : </b>{{item.balance}} €</p>
            </td>
            <td>
            <button id="botonMov" on-click="showMovementsList">Movimientos</button>
            <button id="botonMov" on-click="showaccoperations">Operar</button>
          </td>
        </tr>
      </template>
    </table>
  </div>
  </template>
  <script>
      /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          logged:{
            type: Boolean,
            value: false
          },
          accounts: {
            type: Object,
            // Observer method
            observer: '_accountshandle'
          },
          idaccount:{
            type: Number
          },
          iban:{
            type: String
          },
          balance:{
            type: Number
          }
        };
      }
      //Envía el evento de movimientos con evento personalizado
      showMovementsList(e){
        this.iban=e.model.item.iban;
        this.balance=e.model.item.balance;
        this.idaccount=e.model.item.idaccount;
        this.dispatchEvent(
          new CustomEvent(
            "myeventmovdata",
            {
              "detail": {
                "idaccount": this.idaccount,
                "balance": this.balance,
                "iban": this.iban
              }
            }
          )
        );
      }
      _accountshandle(){
        console.log("Pruebo binding!!");
      }
      showErrorAccounts(){
        console.log("Error en cuentas.");
      }
      showaccoperations(e){
        this.iban=e.model.item.iban;
        this.balance=e.model.item.balance;
        this.idaccount=e.model.item.idaccount;
        this.dispatchEvent(
          new CustomEvent(
            "myeventopsdata",
            {
              "detail": {
                "idaccount": this.idaccount,
                "balance": this.balance,
                "iban": this.iban
              }
            }
          )
        );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
