<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <h4 id="logintext">Registro</h4>
    <h5>Indique sus datos a continuación:</h5>
    <input id="inputF" type="text" placeholder="Nombre" value="{{first_name::input}}" required/></br>
    <input id="inputF" type="text" placeholder="Apellido" value="{{last_name::input}}" required/></br>
    <input id="inputF" type="text" placeholder="País" value="{{country::input}}" required/></br>
    <input id="inputF" type="text" placeholder="Localidad" value="{{city::input}}"/></br>
    <input id="inputF" type="email" placeholder="e-mail" value="{{email::input}}" required/></br>
    <input id="inputF" type="password" placeholder="Contraseña" value="{{password::input}}"required/></br>
    <button id="boton" on-click="aceptar">Aceptar</button> <button id="boton" on-click="cancel">Cancelar</button></br>
    <span id="oktext" hidden$="{{!registered}}">Registro correcto.</span>
    <span id="errtext" hidden$="{{!errReg}}">Revise los datos. Registro incorrecto.</span>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          country:{
            type: String
          },
          city:{
            type: String
          },
          email:{
            type: String
          },
          password:{
            type: String
          },
          registered:{
            type: Boolean,
            value: false
          },
          errReg:{
            type: Boolean,
            value: false
          },
          init:{
            type: Boolean,
            value: true
          }
        };
      }
      showData(data){
        console.log("Datos recibidos en el visor usuario.");
      }
      aceptar(e){
        this.errReg=false;
        if(this.first_name!=null&&this.last_name!=null&&this.country!=null&&this.city!=null&&this.email!=null&&this.password!=null){
        //objeto js que contendrá los datos de los inputs.
          this.dispatchEvent(
              new CustomEvent(
                "myeventregdata",
                {
                    "detail": {
                      "first_name": this.first_name,
                      "last_name": this.last_name,
                      "country": this.country,
                      "city": this.city,
                      "email": this.email,
                      "password": this.password
                    }
                }
              )
            );
          }else{
            this.errReg=true;
          }
          this.first_name=null;
          this.last_name=null;
          this.country=null;
          this.city=null;
          this.email=null;
          this.password=null;
      }
      cancel(){
        this.first_name=null;
        this.last_name=null;
        this.country=null;
        this.city=null;
        this.email=null;
        this.password=null;
        this.dispatchEvent(
            new CustomEvent(
              "myeventcancelregdata",
              {
                  "detail": {
                    "showlogin": true
                  }
              }
            )
          );
      }
      showErrorReg(error){
        console.log("Hubo un error: ");
        console.log(error);
        this.errReg=true;
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
