<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../visor-opcuentas/visor-opcuentas.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-opcuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <visor-opcuentas id="receiver" iban$={{iban}} balance$={{balance}} on-myeventopdata="processaccop" on-myeventcancdata="processacccanc"></visor-opcuentas>
    <iron-ajax
      id="dooperation"
      method="POST"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/accounts/{{accountid}}/movements"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorOpCuentas extends Polymer.Element {
      static get is() { return 'gestor-opcuentas'; }
      static get properties() {
        return {
          accountid:{
            type: Number
          },
          operation:{
            type: String
          },
          showacc:{
            type: Boolean
          },
          iban:{
            type: String
          },
          balance:{
            type: Number
          }
        };
      }
      processaccop(e){
        var opData = {
          "money": e.detail.money,
          "currency": e.detail.currency,
          "type": e.detail.type
        };
        //Lo pasamos a formato json y lo mandamos
        this.$.dooperation.body = JSON.stringify(opData);
        this.$.dooperation.generateRequest(); //genera una petición con todos los parametros disponibles
        this.dispatchEvent(
          new CustomEvent(
            "myeventcancel",
            {
              "detail": {
                "balance": this.balance,
                "idaccount": this.accountid,
                "iban": this.iban
                }
              }
            )
        );
      }
      processacccanc(e){
        this.dispatchEvent(
          new CustomEvent(
            "myeventcancel",
            {
              "detail": {
                "showacc": this.showacc
                }
              }
            )
        );
      }
      manageAJAXresponse(data){
        // console.log(data.detail.response);
        alert("Movimiento registrado con éxito.");
      }
      showError(data){
        console.log("Hubo un error:");
        console.log(data);
        this.$.receiver.showError(data.detail);
      }
      showop(data){
        this.operation=data;
        this.$.receiver.showoperationsdata(data);
      }
  }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorOpCuentas.is, GestorOpCuentas);
  </script>
</dom-module>
