<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">
<link rel="import" href="../gestor-config/gestor-config.html">

<dom-module id="visor-config">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <span id="errtext" hidden$="{{!errData}}">Error al obtener datos.</span>
      <table>
        <tr>
          <div id="divdata">
            <h3 id="logintext">Datos de perfil:</h3>
            <p><b>Nombre:</b> {{first_name}}</p>
            <p><b>Apellidos:</b> {{last_name}}</p>
            <p><b>País:</b> {{country}}</p>
            <p><b>Localidad:</b> {{city}}</p>
            <p><b>email:</b> {{email}}</p>
          </div>
        </tr>
        <tr>
          <h4>Cambiar contraseña de acceso:</h4>
          <input id="inputF" type="password" placeholder="Nueva contraseña" value="{{password::input}}" required/></br>
          <input id="inputF" type="password" placeholder="Repita contraseña" value="{{repassword::input}}" required/>
          </br></br>
          <button id="boton" on-click="updatepass">Aceptar</button> <button id="boton" on-click="cancel">Cancelar</button></br>
          <span id="oktext" hidden$="{{!okMsg}}">Contraseña actualizada.</span></br>
          <span id="errtext" hidden$="{{!errPass}}">Los datos introducidos no coinciden o no están informados.</span>
          <span id="errtext" hidden$="{{!errUpd}}">Error al actualizar la contraseña.</span>
        </tr>
      </table>
    </br>
  </template>
  <script>
      /**
     * @customElement
     * @polymer
     */
    class VisorConfig extends Polymer.Element {
      static get is() { return 'visor-config'; }
      static get properties() {
        return {
          first_name:{
            type: String
          },
          last_name:{
            type: String
          },
          email:{
            type: String
          },
          country:{
            type: String
          },
          city:{
            type: String
          },
          password:{
            type: String
          },
          repassword:{
            type: String
          },
          okMsg: {
            type: Boolean,
            value: false
          },
          errPass:{
            type: Boolean,
            value: false
          },
          errUpd:{
            type: Boolean,
            value:false
          },
          errData:{
            type: Boolean,
            value: false
          }
        };
      }
      showUserData(data){
        this.first_name=data.first_name;
        this.last_name=data.last_name;
        this.country=data.country;
        this.city=data.city;
        this.email=data.email;
      }
      //Envía el evento de login a su gestor con evento personalizado
      updatepass(e){
        if(this.password!=this.repassword){
          this.errPass=true;
          this.errUpd=false;
          this.okMsg=false;
        }else{
          if(this.password!=null&&this.repassword!=null){
            this.dispatchEvent(
                new CustomEvent(
                  "myeventupdatedata",
                  {
                      "detail": {
                        "password": this.password
                      }
                  }
                )
              );
              this.password=null;
              this.repassword=null;
          }else{
            this.errPass=true;
          }
        }
      }
      showOKForm(){
        this.okMsg=true;
        this.errPass=false;
        this.errUpd=false;
      }
      showError(){
        this.errUpd=true;
        this.okMsg=false;
        this.errPass=false;
      }
      showErrorUserData(data){
        this.errData=true;
      }
      clearformdata(){
        this.password=null;
        this.repassword=null;
        this.errPass=false;
        this.okMsg=false;
        this.errUpd=false;
      }
      cancel(){
        this.clearformdata();
        this.dispatchEvent(
            new CustomEvent(
              "myeventcancdata",
              {
                  "detail": {
                    "showacc": true
                  }
              }
            )
          );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorConfig.is, VisorConfig);
  </script>
</dom-module>
