<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <table id="list">
      <tr>
        <td>
          <button id="botonAtras" on-click="goback">Atrás</button>
          <button id="botonLogout" on-click="logout">Logout</button>
        </td>
    </tr>
    </br>
  </template>
  <script>
      /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          logged:{
            type: Boolean,
            value: false
          },
          errLogout:{
            type: Boolean,
            value: false
          },
          init:{
            type: Boolean,
            value: true
          }
        };
      }
      //Envía el evento de login a su gestor con evento personalizado
      logout(e){
        this.dispatchEvent(
            new CustomEvent(
              "myeventlogoutdata",
              {
                  "detail": {
                    "idUsuario": this.idUsuario
                  }
              }
            )
          );
      }
      goback(e){
        this.dispatchEvent(
          new CustomEvent(
            "myeventgoaccounts",
            {
              "detail": {
                "showaccounts": true,
                "showmovements": false
              }
            }
          )
        );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
