<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-logout">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <logout-usuario on-myeventlogoutdata="processEventLogout" on-myeventgoaccounts="processEventBack"></logout-usuario>
    <iron-ajax
    id="dologout"
    method="POST"
    url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/logout/{{userid}}"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXresponseLogout"
    on-error="showError"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorLogout extends Polymer.Element {
      static get is() { return 'gestor-logout'; }
      static get properties() {
        return {
          init:{
            type: Boolean,
            value: false
          },
          userid:{
            type: Number
          }
        };
      }
      processEventLogout(e){
        //objeto js que contendrá los datos de los inputs.
        this.$.dologout.body = JSON.stringify();
        this.$.dologout.generateRequest(); //genera una petición con todos los parametros disponibles
      }
      manageAJAXresponseLogout(data){
        this.logged=false;
        this.init=true;
        this.dispatchEvent(
          new CustomEvent(
            "myeventlogout",
            {
              "detail": {
              "id": data.detail.response.idUsuario
            }
            }
          )
        );
        window.localStorage.clear();
      }
      showError(error){
        console.log("Hubo un error: ");
        console.log(error);
        alert("Ha ocurrido un error al desconectar. Contacte con el administrador.");
      }
      processEventBack(e){
          this.dispatchEvent(
            new CustomEvent(
              "myeventgoback",
              {
                "detail": {
                  "showaccountslist": true,
                  "showmovementslist": false
                }
              }
            )
          );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorLogout.is, GestorLogout);
  </script>
</dom-module>
