<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-opcuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    <h2>Operativa de cuentas - {{operation}}</h2>
    <p><b>Origen:</b>{{iban}}</p>
    <input id="inputF" type="number" min="0.01" step="2" pattern=".{6,}" placeholder="Importe" value="{{money::input}}" required/></br>
    <select id="currlist" name="currencys" value="{{currency::dropdown-item}}" disabled>
      <option value="€" selected>Euro (€)</option>
      <option value="$">Dólar ($)</option>
    </select></br></br>
    <button id="boton" on-click="aceptar">Aceptar</button>
    <button id="boton" on-click="cancel">Cancelar</button></br>
    <span id="oktext" hidden$="{{!okOp}}">Operación realizada correctamente.</span>
    <span id="errtext" hidden$="{{!errOp}}">Datos incorrectos. {{errMsg}}</span>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorOpCuentas extends Polymer.Element {
      static get is() { return 'visor-opcuentas'; }
      static get properties() {
        return {
          accountid:{
            type: Number
          },
          money:{
            type: Number
          },
          moneytx:{
            type: Number
          },
          type:{
            type: String
          },
          currency:{
            type: String,
            value: "€"
          },
          toaccount:{
            type: String,
          },
          okOp:{
            type: Boolean,
            value: false
          },
          errOp:{
            type: Boolean,
            value: false
          },
          operation:{
            type: String
          },
          showotheraccount:{
            type: Boolean,
            value: false
          },
          iban:{
            type: String
          },
          balance:{
            type: Number
          },
          errMsg:{
            type: String
          }
        };
      }
      showoperationsdata(data){
        this.type=data;
        this.showmyaccounts=false;
        if(this.type=="Withdraw"){
          this.operation="Retirar dinero de cuenta.";
        }
        if(this.type=="Income"){
          this.operation="Ingresar dinero en cuenta.";
        }
      }
      aceptar(e){
        this.moneytx=this.money;
        if((this.type=="Withdraw")&&(this.balance<this.money)){
          this.showError("No tiene suficiente dinero en cuenta.");
        }else {
          if(this.type=="Withdraw"){
            this.moneytx=this.money*-1;
          }
          this.dispatchEvent(
              new CustomEvent(
                "myeventopdata",
                {
                    "detail": {
                      "accountid": this.accountid,
                      "money": this.moneytx,
                      "type": this.type,
                      "currency": this.currency
                    }
                }
              )
            );
        }
        this.money="";
      }
      cancel(){
        this.money="";
        this.dispatchEvent(
            new CustomEvent(
              "myeventcancdata",
              {
                  "detail": {
                    "showacc": true
                  }
              }
            )
          );
      }
      showError(error){
        this.errOp=true;
        this.errMsg=error;
        // this.money="";
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorOpCuentas.is, VisorOpCuentas);
  </script>
</dom-module>
