#oktext{
  color:#0dbd00;
  font-size:15px;
}
#errtext{
  color: #95093e;
  align: left;
  font-size:15px;
}
#opalta{
  display:inline;
}
#boton{
  text-decoration: none;
  padding: 8px;
  width: 95px;
  font-weight: 50;
  font-size: 14px;
  color: #ffffff;
  background-color: rgb(20,100,165);
  border: 1px solid rgb(20,100,165);
  margin-left: 2px;
  margin-top: 1px;
}
#boton:hover{
  color: #ffffff;
  background-color: rgb(40,133,202);
  border: 1px solid rgb(40,133,202);
}
#botonAlta{
  text-decoration: none;
  padding: 8px;
  width: 95px;
  font-weight: 50;
  font-size: 14px;
  color: #ffffff;
  background-color: #277A3E;
  border: 1px solid #277A3E;
}
#botonAlta:hover{
  color: #ffffff;
  background-color: #48AE64;
  border: 1px solid #48AE64;
}
#botonMov{
  display: block;
  text-decoration: none;
  padding: 5px;
  width: 95px;
  font-size: 14px;
  color: #ffffff;
  background-color: rgb(20,100,165);
  border: 1px solid rgb(20,100,165);
  margin: 5px 30px 5px auto;
}
#botonMov:hover{
  color: #ffffff;
  background-color: rgb(40,133,202);
  border: 1px solid rgb(40,133,202);
  display: block;
}
#botonAtras{
  display: block;
  text-decoration: none;
  padding: 8px;
  margin: 5px 30px 5px auto;
  width: 95px;
  font-weight: 50;
  font-size: 14px;
  color: #ffffff;
  background-color: #028484;
  border: 1px solid #028484;
}
#botonAtras:hover{
  color: #ffffff;
  background-color:#02A5A5;
  border: 1px solid #02A5A5;
}
#botonLogout{
  display: block;
  padding: 8px;
  margin: 5px 30px 5px auto;
  width: 95px;
  font-weight: 50;
  font-size: 14px;
  color: #ffffff;
  background-color: #B92A45;
  border: 1px solid #B92A45;
}
#botonLogout:hover{
  color: #ffffff;
  background-color: #DA3851;
  border: 1px solid #DA3851;
}
#botonOps{
  display:inline-block;
  padding: 8px;
  width: 150px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  color: #02A5A5;
  background-color: #ffffff;
  border: 1px solid #02A5A5;
}
#botonOps:hover{
  color: #ffffff;
  background-color: #02A5A5;
  border: 1px solid #02A5A5;
}
#botonOps:focus{
  color: #ffffff;
  background-color: #02A5A5;
  border: 1px solid #02A5A5;
}
#ElTiempo{
  color: grey;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 5px;
  width: 140px;
  height: auto;
  position:absolute;
  top:125px;
  right:20%;
  text-align: left;
  overflow: auto;
}
#ElTiempo h10{
  font-size: 12px;
  color: grey;
}
#logintext{
  margin-top:60px;
  align:center;
  color: rgb(20,100,165);
}
h2,h4{
/*color:#49a5e6;*/
/*color: #072146;*/
color: rgb(20,100,165);
font-family:'Open Sans',sans-serif,Arial;
font-size:medium;
margin-top: 5px;
margin-bottom: 5px;
}
h5{
    color:#00278f;
    margin: 5px auto 5px auto;
}
h1{
text-align:left;
color:#082145;
font-family:'Open Sans',sans-serif,Arial;
font-size:large;
}
nav #btncontratar{
list-style-type:none;
padding:0;
width: 100%;
text-align: left;
}
nav ul{
list-style-type:none;
padding:0;
width: 100%;
text-align: center;
}
nav li{
display:inline;
/*float:left;*/
margin-right: 20px;
}
body{
/*background-image:url("../images/background.png");*/
background-image:url("https://s3-eu-west-1.amazonaws.com/irenebcp/images/background.png");
height:auto;
width:auto;
margin-bottom:0px;
}
body h1{
color:rgba(256,256,256,.9);
margin-left:20px;
margin-top:25px;
font-size:30px;
font-family:'Open Sans',sans-serif,Arial;
padding:10px;
margin-bottom: 0px;
}
#inputF{
  align:center;
  text-decoration: none;
  padding: 8px;
  margin: 10px;
  font-weight: 50;
  font-size: 14px;
  color: rgb(20,100,165);
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(20,100,165);
}
select{
  text-decoration: none;
  padding: 8px;
  margin: 10px;
  font-weight: 50;
  font-size: 14px;
  color: rgb(20,100,165);
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(20,100,165);
}
select:disabled{
  text-decoration: none;
  padding: 8px;
  margin: 10px;
  font-weight: 50;
  font-size: 14px;
  color: lightgrey;
  background-color: white;
  border-radius: 4px;
  border: 1px solid lightgrey;
}
#divform{
  margin-left: 30px;
  font-size:medium;
  font-family:'Open Sans',sans-serif,Arial;
  text-align: center;
  float: center;
}
#divall{
  margin: 40px auto auto 30px;
  font-size:medium;
  font-family:'Open Sans',sans-serif,Arial;
}
#divlogout{
  float:right;
  margin-top: 5px;
  position: absolute;
  right: 10px;
  top: 85px;
  overflow: auto;
}
#divdata{
  margin-top: 40px;
  margin-left: 40%;
  font-size: medium;
  font-family:'Open Sans',sans-serif,Arial;
  text-align: left;
}
p{
  /*text-align:justify;*/
  margin-left: 30px;
  font-family:'Open Sans',sans-serif,Arial;
  font-size: 14px;
  color: rgb(20,100,165);
}
#divlist{
  height:330px;
  overflow-y: auto;
  overflow-x: hidden;
}
#movlist{
    font-family: 'Open Sans',sans-serif,Arial;
    border-collapse: collapse;
    width: 100%;
    background-color: #f4f4f4;
    border-bottom: 1px solid #1212;
}
#movlist td {
    border-bottom: 1px solid #1212;
}
#movlist tr:nth-child(even){
  background-color: #ddd;
  border-bottom: 1px solid #1212;
}
/*#movlist tr:hover {
  background-color: #1212;
  border-bottom: 1px solid #1212;
}*/

#list{
    font-family: 'Open Sans',sans-serif,Arial;
    width: 100%;
    margin-top: 10px;
}
