<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../visor-opciones/visor-opciones.html">
<link rel="import" href="../gestor-principal/gestor-principal.html">

<dom-module id="gestor-opciones">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <visor-opciones userid$={{userid}} on-myeventcreatenewaccount="createnewaccount" on-myeventshowconfig="showuserconfig"></visor-opciones>
    <iron-ajax
      id="donewaccount"
      method="POST"
      url="http://apiibcp-apiibcp.a3c1.starter-us-west-1.openshiftapps.com/apitechu/v2/users/{{userid}}/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorOpciones extends Polymer.Element {
      static get is() { return 'gestor-opciones'; }
      static get properties() {
        return {
          userid:{
            type: Number
          }
        };
      }
      createnewaccount(e){
        this.userid=e.detail.userid;
        this.$.donewaccount.body = JSON.stringify();
        this.$.donewaccount.generateRequest(this.userid); //genera una petición con todos los parametros disponibles
      }
      manageAJAXresponse(data){
        alert("Movimiento registrado con éxito.");
      }
      showError(data){
        console.log("Hubo un error:");
        console.log(data);
      }
      showuserconfig(){
        this.dispatchEvent(
            new CustomEvent(
              "myeventshowuserconfig",
              {
                  "detail": {
                    "userid": this.userid
                  }
              }
            )
          );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(GestorOpciones.is, GestorOpciones);
  </script>
</dom-module>
