<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-opciones">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="src/styles.css" rel="stylesheet" type="text/css"/>
    </br>
    <button id="boton" on-click="createnewaccount">Nueva cuenta</button>
    <button id="boton" on-click="showconfig">Perfil usuario</button>
    </br>
    </template>
  <script>
      /**
     * @customElement
     * @polymer
     */
    class VisorOpciones extends Polymer.Element {
      static get is() { return 'visor-opciones'; }
      static get properties() {
        return {
          userid:{
            type: Number
          }
        };
      }
      //Envía el evento a su gestor con evento personalizado
      createnewaccount(){
        alert("Solicitud de nueva cuenta enviada.");
        this.dispatchEvent(
            new CustomEvent(
              "myeventcreatenewaccount",
              {
                  "detail": {
                    "userid": this.userid
                  }
              }
            )
          );
      }
      showconfig(){
        this.dispatchEvent(
            new CustomEvent(
              "myeventshowconfig",
              {
                  "detail": {
                    "userid": this.userid
                  }
              }
            )
          );
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorOpciones.is, VisorOpciones);
  </script>
</dom-module>
